h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #023e8a;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #023e8a;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #023e8a;
}

button {
    color: #023e8a;
    background-color: bisque;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #023e8a;
    background-color: none;
    margin: 0;
}


ul {
    font-family: Arial, Helvetica, sans-serif;
    color: #023e8a;
    background-color: none;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    color: #023e8a;
    background-color: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background-color: whitesmoke;
    margin-left: 150px;
    margin-right: 150px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Add a black background color to the top navigation */
.topnav {
    width: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    /* Four links of equal widths */
    width: 25%;
    color: #023047;
    text-align: center;
    padding: 12px 0px 12px 0px;
    text-decoration: none;
    font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
    border-bottom: 3px solid #ffb703;
    color: #023047;
    transition: all 100ms ease-in-out;
}

/* Add a color to the active/current link */
/* .topnav a.active {
    background-color: #ffb703;
    color: #fefae0;
} */

/* Logo Setting*/
.logo {

    vertical-align: middle;
    background-color: whitesmoke;
    color: #023047;
    font-size: 40px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

/* .whatsesg {
    background-image: url("./Lake fog.jpeg");
    background-color: #34a0a4;
} */

/* Container holding the image and the text */
.whatsesg {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    opacity: 0.5;
    padding: 0px 10px 10px 10px;
}